<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YNAB report</title>
</head>
<body>

<table border="1">
    <tr>
        <td>Cat</td>
        <td>W35</td>
        <td>W36</td>
    </tr>
    <tr>
        <td>Groceries</td>
        <td>1200</td>
        <td>1350</td>
    </tr>
    <tr>
        <td>Dinning out</td>
        <td>280</td>
        <td>320</td>
    </tr>
</table>

{#    <table border="1">#}
{#    {% for  in report_weeks.items() %}#}
        {# Categories in rows #}
{#        <tr>#}
{#            {% for cat_key, cat_value in i.items() %}#}
{#            {% if cat_idx == 0 %}#}
{#                <td>{{ cat_key }}</td>#}
{#            {% endif %}#}
{##}
            {# Spent value for coresponding time frame. #}
{#            <td></td>#}
{#        </tr>#}
{#        {{i}}<br>#}
{#    {% endfor %}#}
{#    </table>#}
</body>
</html>